{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue sur le meilleur réseau de voyageurs
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="jumbotron">
			<h1 class="display-3">
				<small>Bienvenue sur
				</small>
				<b>
					<a href="#" class="card-link">FiiverBNB</a>
				</b>
			</h1>
			<p class="lead">
				<h4>Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter de l'opportunité de mettre leur bien en location et de gagner de l'argent!!!</h4>
			</p>
			<hr class="my-4">
			<p class="lead">
				<h5>
					Vous êtes un voyageur? Et vous voulez savoir que sera votre prochaine destination?</h5>
			</p>
			<p class="lead">
				<a class="btn btn-success btn-lg" href="{{ path('products_index') }}" role="button">Voir nos annonces</a>
			</p>
		</div>

		<h2 class="h1 mt-3 mb-3">
			Nos destinations
			<b style="color: #6B9430; text-transform: uppercase;">stars</b>...
		</h2>

		<div class="row">
			{% for data in products %}
				{% include 'product/_product.html.twig' with {'product': data.annonce} %}
			{% endfor %}
		</div>

		<h2 class="h1 mt-3 mb-3">
			Nos propriétaires
			<b style="color: #6B9430; text-transform: uppercase;">stars</b>...
		</h2>

		<div class="row mb-5">
			{% for data in users %}
			<div class="col-md-6">
				<div class="card mb-3">
					<div class="card-body">
						<h4 class="card-title">{{ data.user.fullName }}</h4>

						<div class="card-text">
							<img src="{{ data.user.picture }}" alt="" class="avatar-medium float-left mr-1">
							<p>{{ data.user.introduction}}</p>
						</div>
						<a href="{{ path('user_show', {'slug': data.user.slug}) }}" class="btn btn-success float-right">Plus d'infos</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>

{% endblock %}

