{% extends 'base.html.twig' %}

{% block title %}Réserver mon séjour
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Réservez l'annonce pour :
			{{ product.title }}
		</h1>
		<p>Vous êtes sur le point de réserver le bien de
			<strong>{{ product.author.fullname }}</strong>. 
				Dites nous tout, on s'occupe du reste !</p>

		{{ form_start(form) }}

		<h2>Commencez par nous dire quelles sont les dates qui vous interressent !</h2>
		<div class="row">
			<div class="col">

				{{ form_row(form.startDate) }}
                
			</div>
			<div class="col">

				{{ form_row(form.endDate) }}

			</div>
		</div>
		<h4>Montant du séjour :
			<span id="amount">...</span>
			&euro;</h4>
		<span id="days">0</span>
		nuits à
		{{product.price}}&euro;/nuit
		<h2>Vous avez un commentaire?</h2>

		{{ form_row(form.comment) }}

		<h2>Vous avez terminé!</h2>
		<p>
			Vacance de rêves? Hébergement pour le boulot? Nous sommes toujours la pour vous !
        </p>

		<button type="submit" class="btn btn-success">Je réserve</button>

		{{ form_end(form) }}

	</div>
{% endblock %}

