{% extends 'base.html.twig' %}

{% block title %}
	Réservation n°{{booking.id}}
{% endblock %}

{% block body %}

	{% set product = booking.product %}
	{% set author = product.author %}

	<div class="container">
		<h1>Votre réservation n°{{booking.id}}</h1>
		<div class="row">
			<div class="col-5">
				<div class="alert alert-light">
					<h2>Détails</h2>
					<dl class="row">
						<dt class="col-md-4">Numéro</dt>
						<dd class="col-md-8">{{booking.id}}</dd>
						<dt class="col-md-4">Date d'arrivée</dt>
						<dd class="col-md-8">{{booking.startDate | date('d/m/Y')}}</dd>
						<dt class="col-md-4">Date dde départ</dt>
						<dd class="col-md-8">{{booking.endDate | date('d/m/Y')}}</dd>
						<dt class="col-md-4">Nombre de nuits</dt>
						<dd class="col-md-8">{{booking.duration}}</dd>
						<dt class="col-md-4">Montant total</dt>
						<dd class="col-md-8">{{booking.amount}}
							&euro;</dd>
						<dt class="col-md-4">Commentaire</dt>
						<dd class="col-md-8">{{booking.comment}}</dd>
					</dl>
				</div>

				<hr>

				<h2 class="alert-heading">Votre hôte</h2>

				<div class="row mb-4">

					<div class="col-6">
						<img src="{{author.picture}}" class="avatar-medium" alt="Avatar de {{author.fullName}}">
					</div>

					<div class="col">
						<h4>
							<a href="{{ path('user_show', {'slug': author.slug} )}}">
								{{ author.fullName }}
							</a>
						</h4>
						<span class="badge badge-primary">{{ author.products | length }}
							annonces</span>
					</div>
				</div>
				{{ author.description | raw }}
				<a href="{{ path('user_show', {'slug': author.slug} )}}" class="btn btn-success">
					Plus d'infos sur
					{{ author.firstName }}
				</a>
			</div>

			<div class="col-7">
				<div class="alert alert-light">
					<h2 class="alert-heading">Votre hébergement</h2>
					<h4 class="mb-3">
						<a href="{{ path('product_show', {'slug': product.slug} )}}" style="color: #6B9430;">
							{{ product.title }}
						</a>
					</h4>

					<img src="{{product.coverImage}}" class="img-fluid mb-4" alt="image">

					{{ product.content |raw }}

					<a href="{{ path('product_show', {'slug': product.slug} )}}" class="btn btn-success" style="text-decoration: none">
						Plus d'infos
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
