{% set url_show = path( 'product_show', {'slug': product.slug }) %}
<div class="col-md-4">
	<div class="card border-light mb-3">
		<div class="card-header text-center">
			{{ product.rooms }}
			chambres <strong>{{ product.price }} euros/nuit</strong>
			<br>
		{% if product.comments|length > 0 %}
			{% include 'common/rating.html.twig' with {'rating': product.avgRatings} %}
		{% else %}
		<small>Pas encore de note</small>
		{% endif %}

		</div>
		<a href="{{ url_show }}">
			<img src="{{ product.coverImage }}" alt="" style="height: 280px; width: 100%; display: block">
		</a>
		<div class="card-body">
			<h4 class="card-title">
				<a href="{{ url_show }}">
					{{ product.title }}
				</a>
			</h4>
			<p class="card-text">{{ product.introduction }}</p>
			<div class="row">
			<a href="{{ url_show }}" class="btn btn-success ml-4">Voir l'annonce</a>
			{% if app.user and app.user == product.getAuthor %}
			<a href="{{ path('product_edit', {'slug': product.slug}) }}" class="btn btn-secondary ml-1">
			Modifier l'annonce
			</a>
			<a href="{{ path('product_delete', {'slug': product.slug}) }}" class="btn btn-danger ml-4 mt-1"
			onclick="return confirm(`Êtes vous sur de vouloir supprimer cette annonce?`)">
			Supprimer l'annonce
			</a>
			{% endif %}
			</div>
		</div>
	</div>
</div>
