{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div class="card bg-info text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 col-sm-12">
                            <i class="fas fa-user fa-3x"></i>
                        </div>
                        <div class="col-8 col-sm-12 mt-2">
                            <h4 class="card-title">
                                {{ stats.users }} utilisateurs
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-warning text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 col-sm-12">
                            <i class="fas fa-hotel fa-3x"></i>
                        </div>
                        <div class="col-8 col-sm-12 mt-2">
                            <h4 class="card-title">
                                {{ stats.products }} annonces postés
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card bg-primary text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 col-sm-12">
                            <i class="fas fa-folder fa-3x"></i>
                        </div>
                        <div class="col-8 col-sm-12 mt-2">
                            <h4 class="card-title">
                                {{ stats.bookings }} réservations
                            </h4>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="col-sm">
            <div class="card bg-success text-white mb-3 text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 col-sm-12">
                            <i class="fas fa-comments fa-3x"></i>
                        </div>
                        <div class="col-8 col-sm-12 mt-2">
                            <h4 class="card-title">
                                {{ stats.comments }} commentaires
                            </h4>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            <div class="alert alert-success">
                <h2 class="alert-heading my-3">
                    <i class="fas fa-arrow-up"></i>
                    <strong> Les meilleurs annonces ... </strong>
                </h2>
                <table class="table-hover">
                    <thead>
                        <tr>
                            <th>Annonce</th>
                            <th>Proprietaire</th>
                            <th>Moyenne</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in bestAds %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>
                            <img src="{{ product.picture }}" alt="" class="avatar avatar-mini mr-2">
                            {{ product.firstName }} {{ product.lastName }}
                            </td>
                            <td class="text-center">
                            <span class="badge badge-dark">
                                {{ product.note | number_format(1, ",", "") }}
                            </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div class="alert alert-danger">
                <h2 class="alert-heading my-3">
                    <i class="fas fa-arrow-down"></i>
                    <strong> Les pires annonces ... </strong>
                </h2>
                <table class="table-hover">
                    <thead>
                        <tr>
                            <th>Annonce</th>
                            <th>Proprietaire</th>
                            <th>Moyenne</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in worstAds %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>
                            <img src="{{ product.picture }}" alt="" class="avatar avatar-mini mr-2">
                            {{ product.firstName }} {{ product.lastName }}
                            </td>
                            <td class="text-center">
                            <span class="badge badge-dark">
                                {{ product.note | number_format(1, ",", "") }}
                            </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
